
@{
    ViewData["Title"] = "Error";
}
<div class="alert alert-danger">
    <h3>ExceptionPath:</h3>
    <hr/>
    <p>@ViewBag.ExceptionPath</p>
</div>
<div class="alert alert-danger">
    <h4>ExceptionMessage:</h4>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>
<div class="alert alert-danger">
    <h4>ExceptionStackTrace:</h4>
    <hr />
    <p>@ViewBag.ExceptionStackTrace</p>
</div>
